---
title: TEDxChongqing
---

<section id="sponsors" class="wrap sponsors">
  <header>
    <h2>赞助单位</h2>

    <!--<p>感谢赞助商支持，是他们使本次大会成为可能</p>-->
  </header>

  <p><a href="mailto:info@tedxchongqing.com?subject=赞助 TEDxChongqing 2014" class="ad-placeholder">虚位以待</a></p>

  <p>
    TEDxChongqing的成功需要您的支持
    <br><br>

    如果您有兴趣赞助本次大会，请邮件联系
    <a href="mailto:info@tedxchongqing.com?subject=赞助 TEDxChongqing 2014">info@tedxchongqing.com</a>，
    <br>
    或者电话联系 肖女士
    (+86) 136-3790-2216
  </p>
</section>
