<div class="event" data-vid="<%= event.youku_vid %>">
  <!--<a href="<%= event_path(event) %>">-->
  <div  class="event-thumbnail">
    <img src="/img/video-placeholder.png"></img>
    <div class="event-overlay"></div>
  </div>
  <div class="event-info">
    <h3 class="title"><%= event.title %></h3>
  </div>
  <!--</a>-->
</div>

