<footer class="wrap footer">
  <nav class="container">
    <div class="social">
      <a id="wechat" href="#wechat"><i class="icon-wechat"></i></a>
      <a href="http://weibo.com/TEDxChongqing"><i class="icon-weibo"></i></a>
    </div>

    <p class="copyright">This independent TEDx event is operated under license from <a href="//ted.com">TED</a></p>
  </nav>
</footer>
