<div class="talk" data-vid="<%= talk.youku_vid %>">
  <a href="<%= talk_path(talk) %>">
    <img class="talk-thumbnail"></img>
    <div class="talk-overlay"></div>
    <div class="talk-info">
      <div class="speaker_name"><%= talk.speaker.name %></div>
      <h3 class="title"><%= talk.title %></h3>
    </div>
  </a>
</div>

