<section class="intro" id="about-tedx">
  <p>
  <em>TEDx</em>秉着“传播创想”的理念，TED推出了一个叫TEDx的项目，所谓TEDx，就是指那些由本地TED粉丝自愿发起、自行组织的小型聚会，让本地的TED粉丝能够聚到一起，共享TED一刻。”x”即是独立组织的TED活动之意。人们通过邀请当地演讲人进行现场演讲、共同观看TED演讲视频，就一些问题进行深入的交流和讨论。TED会给TEDx活动提供建议和支持，但是这些活动完全是由粉丝自行组织的。
  <a href="http://www.ted.com/tedx">更多介绍（英文）</a>
  </p>
</section>
<section class="intro" id="about-tedxchongqing">
  <p>
  <em>TEDxChongqing</em>作为当前中国中西部唯一城市为名的TEDx活动，于2014年10月完成了精彩的首次亮相。我们邀请了重量级、多领域的讲者，也组建了囊括创业者、公务员、白领、海外学人、NGO从业者、在校大学生等群体在内的志愿者团队，重庆的跨界创新文化社群也因此崭露头角。
  </p>
</section>
