---
title: TEDxChongqing
---

<section id="banner">
</section>
<section id="featured-talks" class="row">
  <% all_talks.each do |talk| %>
    <%= partial 'partials/talk_thumbnail', locals: { talk: talk } %>
  <% end %>
</section>
<section id="events">
</section>
<%= partial 'partials/tedx_intro' %>
