---
title: TEDxChongqing
---

<nav class="global-nav">
  <ul>
    <li><a href="#about">关于大会</a></li>
    <!--<li><a href="#speakers">演讲嘉宾</a></li>-->
    <li><a href="#sponsors">赞助单位</a></li>
    <li><a href="#venue">会议地址</a></li>
    <li><a href="#" target="_blank" class="btn">报名参会</a></li>
  </ul>
</nav>

<section id="about" class="wrap about">
  <header>
    <h2>什么是TEDx?</h2>

    <p>本地化的TED聚会</p>
  </header>
  <div class="ted_videos" id="tedx_video1">
    <a class="myPlayer" href="http://c312411.r11.cf1.rackcdn.com/TEDx_March4.mp4" style="background-image:url(http://tedxnanjing.com/wp-content/themes/twentyten/images/TEDx_March2010.embed_thumbnail.jpg)">
      <img src="http://tedxnanjing.com/wp-content/themes/twentyten/images/play_large.png" alt="Demo video 1">
    </a>
  </div>
  <p>
    在”传递优秀思想“这一价值的指引下，TED推出了一个叫TEDx的项目.所谓TEDx，就是指那些由本地TED粉丝自愿发起、自行组织的小型聚会， 让本地的TED粉丝能够聚到一起，共享TED一刻.TEDx的x=独立组织的TED活动。TEDx活动通过结合TED演讲视频和现场嘉宾演讲来激起听众中的深 刻讨论与沟通。TED大会提供通用指导意见，但是TEDx活动是完全地方自行组织。
  </p>

</section>

<section id="speakers" class="wrap speakers">
  <div class="container">
    <header>
      <h2>主题演讲嘉宾</h2>

      <p>国内外顶尖开发者，感受大师风范</p>
    </header>

    <ul class="speakers-list clearfix">
      <!--<li>
        <figure>
          <a href="http://bovensiepen.net/" rel="nofollow" target="_blank">
            <img src="speakers/yefu.jpg" alt="土家野夫">
          </a>
        </figure>
        <h3>土家野夫</h3>

        <p><a href="http://www.siemens.com.cn" target="_blank" rel="nofollow">Siemens Limited China</a></p>
      </li>-->
    </ul>
  </div>
</section>

<!--<section id="schedule" class="wrap schedule">-->
  <!--<div class="container clearfix">-->
    <!--<header>-->
      <!--<h2>大会日程安排</h2>-->
    <!--</header>-->

    <!--<table class="schedule-table">-->
      <!--<tr>-->
        <!--<th colspan="3">Day 1-->
          <!--<small>11/1/2014</small>-->
        <!--</th>-->
      <!--</tr>-->
      <!--&lt;!&ndash; 上午 &ndash;&gt;-->
      <!--<tr>-->
        <!--<td rowspan="7" class="rowspan">上午</td>-->
        <!--<td class="time">8:00 - 9:00</td>-->
        <!--<td>签到</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">9:00 - 9:15</td>-->
        <!--<td>Openning</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">9:15 - 10:15</td>-->
        <!--<td>Zach Holman</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">10:15 - 11:00</td>-->
        <!--<td>Daniel Bovensiepen</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">11:00 - 11:20</td>-->
        <!--<td>休息</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">11:20 - 12:00</td>-->
        <!--<td>肖雪洁</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">12:00 - 13:30</td>-->
        <!--<td>午饭</td>-->
      <!--</tr>-->
      <!--&lt;!&ndash; 下午 &ndash;&gt;-->
      <!--<tr>-->
        <!--<td rowspan="7" class="rowspan">下午</td>-->
        <!--<td class="time">13:30 - 14:15</td>-->
        <!--<td>張文鈿</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">14:15 - 15:00</td>-->
        <!--<td>吕戈</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">15:00 - 15:25</td>-->
        <!--<td>休息</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">15:25 - 16:05</td>-->
        <!--<td>Jack Chen</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">16:05 - 16:50</td>-->
        <!--<td>Kevin Dewalt</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td class="time">17:00 - 18:00</td>-->
        <!--<td>Obie Fernandez</td>-->
      <!--</tr>-->
    <!--</table>-->
  <!--</div>-->
<!--</section>-->

<section id="sponsors" class="wrap sponsors">
  <header>
    <h2>赞助单位</h2>

    <p>感谢赞助商支持，是他们使本次大会成为可能</p>
  </header>

  <!--
  <div class="sponsors-gold">
    <ul>
      <li><h4>金牌赞助商</h4></li>
    </ul>
  </div>

  <div class="sponsors-silver">
    <ul>
      <li><h4>银牌赞助商</h4></li>
    </ul>
  </div>

  <div class="sponsors-bronze">
    <ul>
      <li><h4>铜牌赞助商</h4></li>
    </ul>
  </div>

  <div class="sponsors-media">
    <ul>
      <li><h4>媒体支持</h4></li>
    </ul>
  </div>
  -->

  <p><a href="mailto:info@tedxchongqing.com?subject=赞助 TEDxChongqing 2014" class="ad-placeholder">虚位以待</a></p>

  <p>
    TEDxChongqing的成功需要您的支持
    <br><br>

    如果您有兴趣赞助本次大会，请邮件联系
    <a href="mailto:info@tedxchongqing.com?subject=赞助 TEDxChongqing 2014">info@tedxchongqing.com</a>，
    <br>
    或者电话联系 肖女士
    (+86) 136-3790-2216
  </p>
</section>

<section id="venue" class="wrap venue">
  <div class="container">
    <div class="address">
      <h4>会议地址</h4>
      <img src="img/venue.jpg"/>

      <p>
        国泰艺术中心<br>
        <a href="http://j.map.baidu.com/hQdHw" target="_blank" rel="nofollow" title="点击查看地图">
          渝中区解放碑商业区CBD
        </a>
      </p>
    </div>
  </div>
</section>
