---
title: 首页
---

<section id="banner">
</section>
<section id="featured-talks" class="row">
  <% all_talks.each do |talk| %>
    <%= partial 'partials/talk_thumbnail', locals: { talk: talk } %>
  <% end %>
</section>
<section id="news">
</section>
<section id="events">
  <% latest_event = all_events.sort { |x, y| x.date <=> y.date }.last %>
  <%= partial 'partials/event_thumbnail', locals: { event: latest_event } %>
</section>
<%= partial 'partials/tedx_intro' %>
