---
title: 演讲集
---
<section id="talks" class="container">
    <header>
      <h2>演讲集</h2>
    </header>
    <% talks ||= all_talks %>
    <% talks.group_by {|talk| {year: talk.year, event: talk.event} }.each do |event, talks| %>
      <div>
        <h2><%= event[:event][:name] %><small><%= event[:year] %></small></h2>
      </div>
      <div class="row">
        <% talks.each do |talk| %>
          <%= partial('partials/talk_thumbnail', locals: { talk: talk })%>
        <% end %>
      </div>
    <% end %>
</section>
<!--<div id="youkuplayer" style="height:800px"></div>
<script type="text/javascript" src="http://player.youku.com/jsapi">
  function showVideo(vid){
     player = new YKU.Player("youkuplayer",{
       styleid: '8',
       client_id: '0e24164dfdc4994d',
       vid: vid,
       show_related: false
     });
   };
  j = jQuery.noConflict();
  j('.talk').click(function() {
    showVideo('XODI0MTMyMDU2');
    console.log('afdsf');
    //showVideo(j(this).data('vid'));
  });
</script>-->
